.auth-container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f6f2fb;
font-family:Arial;
}

.auth-form{
background:white;
padding:40px;
border-radius:10px;
width:320px;
display:flex;
flex-direction:column;
gap:15px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.auth-form h1{
margin:0;
text-align:center;
color:#5F259F;
}

.auth-form h2{
margin:5px 0 15px 0;
font-size:18px;
text-align:center;
color:#5F259F;
}

/* INPUT WITH ICON */

.input-group{
display:flex;
align-items:center;
border:1px solid #ccc;
border-radius:6px;
padding:8px;
background:#fafafa;
}

.input-group input{
border:none;
outline:none;
flex:1;
padding:6px;
background:transparent;
}

.icon{
color:#5F259F;
margin-right:8px;
font-size:16px;
}

/* BUTTON */

.auth-form button{
background:#5F259F;
color:white;
border:none;
padding:10px;
border-radius:6px;
cursor:pointer;
font-weight:bold;
}

.auth-form button:hover{
background:#4b1e80;
}

/* ERROR */

.error{
color:red;
font-size:14px;
text-align:center;
}

/* SHOW PIN */

.show-pin{
cursor:pointer;
font-size:12px;
color:#5F259F;
margin-left:5px;
}